{% extends 'base.html.twig' %}

{% block title %}Mon compte - KNT Sync{% endblock %}

{% block body %}
    <div class="container-content{% if block('player') is defined %}{% if app.user %} container-content-player {% endif %}{% endif %}">
        <h1>Votre compte</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <small>Accéder a votre espace <a href="{{ path("app_admin") }}"><u>administrateur</u></a></small>
        {% endif %}
        <div class="content-info {% if is_granted('ROLE_ADMIN') %} content-info-admin {% endif %}">
            <h3>Vos informations personnelles</h3>
            <div class="container-info-item">
                <div class="info-item">
                    <div class="info-label">
                        <b>Poste&#8239;: </b>
                    </div>
                    {{ user.job }} 
                </div>
                <div class="info-item">
                    <div class="info-label">
                        <b>Nom&#8239;: </b>
                    </div>
                    {{ user.firstname }} {{ user.lastname }}
                </div>
                <div class="info-item">
                    <div class="info-label">
                        <b>E-mail&#8239;: </b>
                    </div>
                    {{ user.email }}
                </div>
                <div class="info-item">
                    <div class="info-label">
                        <b>Adresse&#8239;: </b>
                    </div>
                    {{ user.address }} {{ user.city }} {% if user.postalcode %},{% endif %} {{ user.postalcode }}
                </div>
                <div class="info-item">
                    <div class="info-label">
                        <b>Pays&#8239;: </b>
                    </div>
                    {{ user.country|country_name }}
                </div>
                <div class="info-item">
                    <div class="info-label">
                        <b>Téléphone&#8239;: </b>
                    </div>
                    {{ user.phone }}
                </div>
            </div>
        </div>
        <div class="container-cart-order">
            <div class="content-cart">
                <h3>Votre Panier</h3>
            </div>

            <div class="content-order">
                <h3>Vos commandes</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block player %}{% endblock %}
