{% extends 'base.html.twig' %}

{% block title %}Accueil - KNT Sync{% endblock %}

{% block carrousel %}{% endblock %}

{% block body %}
    <div id="slider">
        <div id="line">

        </div>
        <ul id="move">
            <li>
                <img src="https://cdn.pixabay.com/photo/2014/05/21/15/47/piano-349928_960_720.jpg">
            </li>
            <li>
                <img src="https://cdn.pixabay.com/photo/2016/10/12/23/22/electric-guitar-1736291_960_720.jpg">
            </li>
            <li>
                <img src="https://cdn.pixabay.com/photo/2017/03/09/20/53/microphone-2130806_960_720.jpg">
            </li>
            <li>
                <img src="https://cdn.pixabay.com/photo/2017/03/19/18/39/turntable-2157300_960_720.jpg">
            </li>
        </ul>
        <div id="back">
            <
        </div>
        <div id="forword">
            >
        </div>
        <div id="dots"></div>
    </div>
    <div class="container-content{% if block('player') is defined %}{% if app.user %} container-content-player {% endif %}{% endif %}">
        {# <div class="container-cat-amb">
            <div class="container-category">
                <div class="container-control">
                    <div class="control-title">
                        Catégories
                    </div>
                    <div class="control">
                        <div class="previous"><</div>
                        <div class="next">></div>
                    </div>
                </div>
                <div class="container-content-category">
                    {% for category in categories %}
                        <div class="content-category">
                            <img src="{{ category.picture }}" alt="">
                            <h1>{{ category.label }}</h1>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="container-ambiance">
                <div class="container-control">
                    <div class="control-title">
                        Ambiances
                    </div>
                    <div class="control">
                        <div class="previous"><</div>
                        <div class="next">></div>
                    </div>
                </div>
                <div class="container-content-ambiance">
                    {% for ambiance in ambiances %}
                        <div class="content-ambiance">
                            <img src="{{ ambiance.picture }}" alt="">
                            <h1>{{ ambiance.label }}</h1>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>     #}
        


        <div class="container-cat-amb">
            <div class="container-category">
                <div class="container-control">
                    <div class="control-title">
                        Catégories
                    </div>
                    <div class="control">
                        <div class="previous"><</div>
                        <div class="next">></div>
                    </div>
                </div>
                <div class="container-content-category">
                    {{ form_start(formSearch) }}
                        {% for i, cat in formSearch.categories %}
                            <div class="content-category">
                                <label for="categories_{{ i }}">
                                    {% for category in categories %}
                                        {% if category.id == i %}
                                            <img src="{{ category.picture }}" alt="">
                                            <h1>{{ category.label }}</h1>
                                        {% endif %}
                                    {% endfor %}
                                </label>
                                {{ form_widget(formSearch.categories[i]) }}
                            </div>
                        {% endfor %}
                    {{ form_end(formSearch, {render_rest: false}) }}
                </div>
            </div>

            <div class="container-ambiance">
                <div class="container-control">
                    <div class="control-title">
                        Ambiances
                    </div>
                    <div class="control">
                        <div class="previous"><</div>
                        <div class="next">></div>
                    </div>
                </div>
                <div class="container-content-ambiance">
                    {{ form_start(formSearch) }}
                        {% for i, amb in formSearch.ambiances %}
                            <div class="content-ambiance">
                                <label for="ambiances_{{ i }}">
                                    {% for ambiance in ambiances %}
                                        {% if ambiance.id == i %}
                                            <img src="{{ ambiance.picture }}" alt="">
                                            <h1>{{ ambiance.label }}</h1>
                                        {% endif %}
                                    {% endfor %}
                                </label>
                                {{ form_widget(formSearch.ambiances[i]) }}
                            </div>
                        {% endfor %}
                    {{ form_end(formSearch, {render_rest: false}) }}
                </div>
            </div>
        </div>

        <div class="container-resource-home">
            <div class="resource-home-title">
                <h1>Ressource</h1>
            </div>
            <div class="container-content-resource">
                {% for resource in resourcesSearch %}
                    <div class="content-resource">
                        <a href="{{ path('app_resource_show', { 'id' : resource.id } ) }}">
                            <img src="{{ resource.cover }}" alt="">
                            <div class="content-resource-info">
                                <h1>{{ resource.trackname }}</h1>
                                <h2>{{ resource.artistname }}</h1>
                                <p>{{ resource.description|length > 90 ? resource.description|slice(0, 90) ~ '...' : resource.description }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block player %}{% endblock %}