{% extends 'base.html.twig' %}

{% block title %}KNT Sync - Administration{% endblock %}

{% block body %}
    <div class="container-content">
        <h1>Administration</h1>

        <h3><a href="{{ path('app_category_index') }}">Catégories</a></h3>
        <div class="container-category">
            {% for category in categories %}
                <div class="content-category">
                    <a href="{{ path('app_category_show', { 'id' : category.id } ) }}">
                        <img src="{{ category.picture }}" alt="">
                        <h1>{{ category.label }}</h1>
                    </a>
                </div>
            {% endfor %}

            <a href="{{ path('app_category_new') }}">
                <div class="content-add">
                    <h1>+</h1>
                </div>
            </a>
        </div>

        <h3>Ambiances</h3>
        <div class="container-ambiance">
            {% for ambiance in ambiances %}
                <div class="content-ambiance">
                    <a href="{{ path('app_ambiance_show', { 'id' : ambiance.id } ) }}">
                        <img src="{{ ambiance.picture }}" alt="">
                        <h1>{{ ambiance.label }}</h1>
                    </a>
                </div>
            {% endfor %}

            <a href="{{ path('app_ambiance_new') }}">
                <div class="content-add">
                    <h1>+</h1>
                </div>
            </a>
        </div>

        <h3>Ressources</h3>
        <div class="container-resource">
            {% for resource in resources %}
                <div class="content-resource">
                    <a href="{{ path('app_resource_show', { 'id' : resource.id } ) }}">
                        <img src="{{ resource.cover }}" alt="">
                        <div class="content-resource-info">
                            <h1>{{ resource.trackname }}</h1>
                            <h2>{{ resource.artistname }}</h1>
                            <p>{{ resource.description }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}

            <a href="{{ path('app_resource_new') }}">
                <div class="content-add">
                    <h1>+</h1>
                </div>
            </a>
        </div>
    </div>
{% endblock %}