{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="container-content">
        <h1>Category</h1>
        <small>Retourner sur votre espace <a href="{{ path("app_admin") }}"><u>administrateur</u></a></small>

        <div class="content-category">
            <img src="{{ category.picture }}" alt="">
            <h1>{{ category.label }}</h1>
        </div>

        <a href="{{ path('app_category_index') }}">Retour au catégories</a>

        <a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>

        {{ include('admin/category/_delete_form.html.twig') }}
    </div>
{% endblock %}
