<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container js-filter">
            <div class="container-topbar">
                <div class="search-nav">
                    {# {% include 'home/_search.html.twig' %} #}
                    {{ render(controller(
                        'App\\Controller\\HomeController::searchBar'
                    )) }}
                </div>
                {% if app.user %}
                    <a class="user-nav user-nav-account" href="{{ path('app_account') }}"><i class="fa-solid fa-user"></i></a>
                    <a class="user-nav" href="{{ path('app_logout') }}">Déconnection</a>
                {% else %}
                    <a  class="user-nav user-nav-login" href="{{ path('app_login') }}">Connexion</a>
                    <a  class="user-nav" href="{{ path('app_register') }}">Inscription</a>
                {% endif %}
            </div>

            <div class="container-sidebar {% if block('player') is defined %}{% if app.user %} container-sidebar-player {% endif %}{% endif %}">
                <div class="sidebar-logo">
                    <a href="{{ path('app_home') }}"><span class="kntTypo">KNT</span> <span class="syncTypo">Sync</span></a>
                </div>

                <div class="sidebar-menu">
                    <div>
                        <div class="menu-item">
                            <a href="http://knt.fr/" target="_blank">KNT Music & Live</a>
                        </div>
                        <div class="menu-item">
                            <a href="{{ path('app_partner') }}">Partenaires</a>
                        </div>
                        <div class="menu-item">
                            <a href="{{ path('app_about') }}" class="about">Qui sommes-nous ?</a>
                        </div>
                        <div class="menu-item">
                            <a href="#">Contact</a>
                        </div>
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="sidebar-menu">
                        <div>
                            <div class="menu-item">
                                <a href="{{ path("app_admin") }}"><h3>Administration</h3></a>
                            </div>
                            <div class="menu-item">
                                <a href="{{ path('app_admin_user_index') }}">Utilisateurs</a>
                            </div>
                            <div class="menu-item">
                                <a href="{{ path('app_admin_category_index') }}">Catégories</a>
                            </div>
                            <div class="menu-item">
                                <a href="{{ path('app_admin_ambiance_index') }}" class="about">Ambiances</a>
                            </div>
                            <div class="menu-item">
                                <a href="{{ path('app_admin_resource_index') }}">Ressources</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="sidebar-footer">
                    <div class="sidebar-info">
                        <a href="#">
                            Mentions légales
                        </a>
                    </div>
                    <div class="sidebar-info copyright">
                        Copyright @ KNT2012
                    </div>
                </div>
            </div>

            <main class="container-main">
                {% block body %}{% endblock %}
            </main>
        </div>

        {% if block('player') is defined %}
            {% if app.user %}
                <div class="player">
                </div>
            {% endif %}
        {% endif %}
    </body>
</html>
