<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="container-topbar">
                <div class="search-nav">
                    {# {{ form_start(formSearch) }}
                            <i class="fa-solid fa-magnifying-glass"></i> {{ form_row(formSearch.q) }}
                    {{ form_end(formSearch) }} #}
                            <i class="fa-solid fa-magnifying-glass"></i> Barre de recherche.
                </div>
                {% if app.user %}
                    <a class="user-nav user-nav-account" href="{{ path('app_account') }}"><i class="fa-solid fa-user"></i></a>
                    <a class="user-nav" href="{{ path('app_logout') }}">Déconnection</a>
                {% else %}
                    <a  class="user-nav user-nav-login" href="{{ path('app_login') }}">Connexion</a>
                    <a  class="user-nav" href="{{ path('app_register') }}">Inscription</a>
                {% endif %}
            </div>

            <div class="container-sidebar {% if block('player') is defined %}{% if app.user %} container-sidebar-player {% endif %}{% endif %}">
                <div class="sidebar-logo">
                    <a href="{{ path('app_home') }}"><span class="kntTypo">KNT</span> <span class="syncTypo">Sync</span></a>
                </div>

                <div class="sidebar-menu">
                    <div>
                        <div class="menu-item">
                            <a href="http://knt.fr/">KNT Music & Live</a>
                        </div>
                        <div class="menu-item">
                            <a href="#">Partenaires</a>
                        </div>
                        <div class="menu-item">
                            <a href="{{ path('app_about') }}" class="about">Qui sommes-nous ?</a>
                        </div>
                        <div class="menu-item">
                            <a href="#">Contact</a>
                        </div>
                    </div>
                </div>

                <div class="sidebar-footer">
                    <div class="sidebar-info">
                        <a href="#">
                            Mentions légales
                        </a>
                    </div>
                    <div class="sidebar-info copyright">
                        Copyright @ KNT2012
                    </div>
                </div>
            </div>

            <main class="container-main">
                {% block body %}{% endblock %}
            </main>
        </div>

        {% if block('player') is defined %}
            {% if app.user %}
                <div class="player">
                </div>
            {% endif %}
        {% endif %}
    </body>
</html>
